<div layout="row" flex class="content">

  <md-button class="md-fab pull-right choselook" ng-click="look()">
    <md-icon md-svg-src="assets/img/tshirt-crew.svg"></md-icon>
  </md-button>

  <div layout="column" flex id="content">

    <md-content layout="column" flex class="md-padding">

    <div layout="row">
      <div flex flex-order="1">
        <md-card>
          <md-card-content>
            <div layout="row">
              <div>
                <img src="assets/img/smile.png" alt="" class="icon">
              </div>
              <div>
                <h2 class="md-title">Humor</h2>
                <h3>
                Animado
                </h3>
              </div>
            </div>
            </md-card-content>
        </md-card>
      </div>
      <div flex flex-order="2">
        <md-card>
          <md-card-content>
            <div layout="row">
              <div>
                <img src="assets/img/cloud.png" alt="" class="icon">
              </div>
              <div>
                <h2 class="md-title">Clima</h2>
                <h3>
                27ºC - Chuvoso
                </h3>
              </div>
            </div>
          </md-card-content>
        </md-card>
      </div>
    </div>
    
    <div layout="row">
      <div flex flex-order="1">
        <md-card>
        <md-card-content>
        <div layout="row">
          <div>
            <img src="assets/img/bike.png" alt="" class="icon">
          </div>
          <div>
            <h2 class="md-title">Atividade</h2>
            <h3>
            Ir trabalhar
            </h3>
          </div>
        </div>
        </md-card-content>
        </md-card>
      </div>
      <div flex flex-order="2">
        <md-card>
        <md-card-content>
        <div layout="row">
          <div>
            <img src="assets/img/tie.png" alt="" class="icon">
          </div>
          <div>
            <h2 class="md-title">Ocasião</h2>
            <h3>
            -
            </h3>
          </div>
        </div>
        </md-card-content>
        </md-card>
      </div>
    </div>

    <div layout="row">
    <br><br>
    </div>


    <div layout="row">
      <div flex flex-order="1">
        <md-card>
          <md-card-content>
            <div layout="row">
              <div>
                <img src="assets/img/hanger.png" alt="" class="icon">
              </div>
              <div>
                <h2 class="md-title">Ver guarda roupa</h2>
                <h3>
                
                </h3>
              </div>
            </div>
          </md-card-content>
        </md-card>
      </div>
    </div>

    <div layout="row">
      <div flex flex-order="1">
        <md-card>
          <md-card-content>
            <div layout="row">
              <div>
                <img src="assets/img/chart.png" alt="" class="icon">
              </div>
              <div>
                <h2 class="md-title">Estatísticas</h2>
                <h3>
                  50% cheio, 7% nunca usado
                </h3>
              </div>
            </div>
          </md-card-content>
        </md-card>
      </div>
    </div>
    
    </md-content>
  </div>
</div>